<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Procesed Data</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/simpledotcss/simple.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  </head>

  <body>
    <header>
      <h1>Processed Data</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/altair">Altair Demo</a>
      </nav>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Email</td>
            <td>{{ email }}</td>
          </tr>
          <tr>
            <td>About</td>
            <td>{{ about }}</td>
          </tr>
          <tr>
            <td>Language</td>
            <td>{{ language }}</td>
          </tr>
          {%- for veg in vegetable %}
          <tr>
            <td>Vegetable</td>
            <td>{{ veg }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>Age</td>
            <td>{{ age }}</td>
          </tr>
          <tr>
            <td>Fruit</td>
            <td>{{ fruit }}</td>
          </tr>
        </tbody>
      </table>

      <section>
        <h2>Rendering a DataFrame in HTML</h2>
        <p>
          The <code>to_html()</code> method is able to render a DataFrame as a
          HTML table. {{ dataframe | safe }}
        </p>
      </section>

      <section>
        <h2>Altair Visualisation</h2>
        <div id="vis"></div>
        <script type="text/javascript">
          var spec = {{ chart | safe }};
          var opt = { "renderer": "canvas", "actions": false };
          vegaEmbed("#vis", spec, opt);
        </script>
      </section>
    </main>
  </body>
</html>
